@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Ubuntu:wght@500&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #1E1E1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-body {
  background-color: #1E1E1E;
  min-height: 25vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Button {
  font-family: "Times New Roman", "serif";
  font-size: 20px;
  position: relative;
  height: 100px;
  width: 300px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #121212;
}

.Button:hover::before {
  opacity: 1;
}

.Button::before {
  content: '';
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  border-radius: inherit;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms;
}

.buttonContentContainer {
  display: flex;
  flex-direction: column;
}

.buttonTitle {
  margin-top: 10px;
  margin-bottom: 5px;
}

.buttonDescription {
  margin-top: 5px;
  font-size: 15px;
  color: #b0acac;
}

.contentContainer {
  display: none;
  background-color: #1E1E1E;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.contentPanel {
  color: white;
  display: flex;
  font-family: 'Handjet', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  background-color: #303030;
  border-radius: 35px;
  height: 375px;
  width: 97.7vw;
}

.hands {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 375px;
  width: 66vw;
}

.info {
  position: relative;
  display: none;
  margin-top: 15px;
  color: white;
  height: 350px;
  width: 440px;

}

.infoTitle {
  position: absolute;
  font-size: 25px;
  margin-top: -5px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.infoText {
  position: absolute;
  display: flex;
  margin-top: 40px;
}

#rfMath {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#qMath {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#sfMath {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#fhMath {
  font-size: 11.25px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#fMath {
  font-size: 15px;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#sMath {
  font-size: 14px;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#tMath {
  font-size: 13px;
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#tpMath {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#pMath {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}

#hMath {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
}


#royalFlush {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#royalFlush:hover {
  color: #d6d24d;
}

#straightFlush {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#straightFlush:hover {
  color: #d6d24d;
}

#quads {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#quads:hover {
  color: #d6d24d;
}

#fullHouse {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#fullHouse:hover {
  color: #d6d24d;
}

#flush {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#flush:hover {
  color: #d6d24d;
}

#straight {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#straight:hover {
  color: #d6d24d;
}

#trips {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#trips:hover {
  color: #d6d24d;
}

#twoPair {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#twoPair:hover {
  color: #d6d24d;
}

#pair {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#pair:hover {
  color: #d6d24d;
}

#highCard {
  display: flex;
  margin-left: 20px;
  align-items: center;
  position: relative;
}

#highCard:hover {
  color: #d6d24d;
}

.cardText {
  margin-left: 2px;
  margin-top: -2px;
}

.blkCard {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 4px;
}

.redCard {
  color: red;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 4px;
}


.blkStartCard {
  color: black;
  font-size: 22px;
  position: absolute;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  left: 190px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.redStartCard {
  color: red;
  font-size: 22px;
  position: absolute;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  left: 190px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.handsDiamondImg {
  position: absolute;
  width: 18px;
  margin-left: 17px;
  margin-top: 12px;
}

.handsClubImg {
  position: absolute;
  height: 23px;
  margin-left: 13px;
  margin-top: 14px;
}

.handsHeartImg {
  position: absolute;
  width: 19px;
  margin-left: 16px;
  margin-top: 14px;
}

.handsSpadeImg {
  position: absolute;
  width: 20px;
  margin-left: 15px;
  margin-top: 11px;
}


#rf2card {
  color: red;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 101px;
}

#s2card {
  color: red;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 135px;
}

#sf2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 69px;
}

#t2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 65px;
}

#q2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 73px;
}

#tp2card {
  color: red;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 135px;
}

#fh2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 111px;
}

#p2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 186px;
}

#f2card {
  color: red;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 169px;
}

#h2card {
  color: black;
  font-size: 22px;
  background-color: white;
  display: flex;
  margin-top: 6px;
  height: 35px;
  width: 35px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-left: 122px;
}

.underlines {
  position: absolute;
  height: 0;
  border-top: 2px dashed white;
  margin-left: 190px;
  margin-top: 49px;
}

#strongest {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 10px;
  background-color: darkgreen;
  width: 55px;
  border-radius: 90px;
}

#weakest {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 311px;
  margin-left: 495px;
  font-size: 10px;
  background-color: darkred;
  width: 50px;
  border-radius: 90px;
}

.availableCardsClubImg {

}

.availableCardsSpadeImg {

}

.availableCardsDiamondImg {

}

.availableCardsHeartImg {

}

.availableCards {

}

.availableCardsGraphic {
  display: flex;

}